// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.sidebar {
    .nav-link {
        color: #fff !important;
        text-align: center;
        padding: 1.7rem 0;
        font-weight: 600;
        // border-bottom: 2px solid gray;
    }
}

.sidebar-sticky {
    height: 100vh;
    width: 15vw;
    position: sticky;
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.cart_quantity_icon {
    padding: 0 1rem;
}

.cover-home {
    width: 100%;
    height: 100vh;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.heading {
    text-align: center;
    display: grid;
    grid-template-columns: 40vh max-content 40vh;
    grid-template-rows: 20px 0;
    grid-gap: 20px;
    justify-content: center;
    font-size: 1.5rem;
}

.heading:after,
.heading:before {
    content: " ";
    display: block;
    border-bottom: 1px solid gray;
}
