// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.sidebar {
    .nav-link {
        color: #fff !important;
        padding: 0.5rem, 1rem;
        font-weight: 600;
    }
}

.sidebar-sticky {
    height: 100vh;
    position: sticky;
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}
