// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.sidebar {
    .nav-link {
        color: #fff !important;
        text-align: center;
        padding: 1.7rem 0;
        font-weight: 600;
        // border-bottom: 2px solid gray;
    }
}

.sidebar-sticky {
    height: 100vh;
    width: 15vw;
    position: sticky;
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}
